name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to Pages
        uses: actions/deploy-pages@v1
        with:
          branch: main
          folder: .
